# Data Cleaning - Cleaning the Dataset
- Open this file in Google Colaboratory so that there will be no need to install any new modules.
- The File Path for Fraud.csv is custom for everyone, first upload the csv file to google drive in the same directory as the ipynb colab file and then mention the path.
<br><br>
- Data cleaning refers to identifying and correcting errors in the dataset that may negatively impact a predictive model.
- Data cleaning refers to all kinds of tasks and activities to detect and repair errors in the data.

---

### Importing the Required Modules

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

---

### Mounting Drive to Access the <b>Fraud.csv</b> File

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
data = pd.read_csv('/content/drive/Fraud.csv')
print(data.head())

   step      type    amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0     1   PAYMENT   9839.64  C1231006815       170136.0       160296.36
1     1   PAYMENT   1864.28  C1666544295        21249.0        19384.72
2     1  TRANSFER    181.00  C1305486145          181.0            0.00
3     1  CASH_OUT    181.00   C840083671          181.0            0.00
4     1   PAYMENT  11668.14  C2048537720        41554.0        29885.86

      nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0  M1979787155             0.0             0.0        0               0
1  M2044282225             0.0             0.0        0               0
2   C553264065             0.0             0.0        1               0
3    C38997010         21182.0             0.0        1               0
4  M1230701703             0.0             0.0        0               0

In [18]:
data.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [19]:
data.shape

(6362620, 11)

---

### Cleaning Null Values

In [20]:
print(data.isnull().sum())

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

From the Output Above, we can see that there are no Null Values to remove from the Datset. 

But, if we do have Null Values, the way to remove them is shown in <i>Data_Cleaning_Null.ipynb</i> file.

---

### Cleaning Outliers

In [21]:
def find_outliers_IQR(data):
  Q1 = data.quantile(0.25) # First Quartile of the Data
  Q3 = data.quantile(0.75) # Third Quartile of the Data
  IQR = Q3 - Q1            # Inter Quartile Range
  outliers = data[((data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR)))]
  return outliers

In [22]:
Q1 = data.quantile(0.25) # First Quartile of the Data
Q3 = data.quantile(0.75) # Third Quartile of the Data
IQR = Q3 - Q1            # Inter Quartile Range
data[((data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR)))] # Here, NaN is not an Outlying Value

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  after removing the cwd from sys.path.

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743.0,NaN,NaN,NaN,339682.13,NaN,NaN,NaN,NaN,1.0,NaN
6362616,743.0,NaN,6311409.28,NaN,6311409.28,NaN,NaN,NaN,NaN,1.0,NaN
6362617,743.0,NaN,6311409.28,NaN,6311409.28,NaN,NaN,NaN,6379898.11,1.0,NaN
6362618,743.0,NaN,850002.52,NaN,850002.52,NaN,NaN,NaN,NaN,1.0,NaN
6362619,743.0,NaN,850002.52,NaN,850002.52,NaN,NaN,6510099.11,7360101.63,1.0,NaN

In [23]:
outliers = find_outliers_IQR(data)
print("Number of Outliers: \n" + str(len(outliers)))
print('----------------------------------------------')
print("Max Outlying Value: \n" + str(outliers.max()))
print('----------------------------------------------')
print("Min Outlying Value: \n" + str(outliers.min()))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  """

Number of Outliers:
6362620
----------------------------------------------
Max Outlying Value:
step                     743.0
type                      None
amount             92445516.64
nameOrig                  None
oldbalanceOrg      59585040.37
newbalanceOrig     49585040.37
nameDest                  None
oldbalanceDest    356015889.35
newbalanceDest    356179278.92
isFraud                    1.0
isFlaggedFraud             1.0
dtype: object
----------------------------------------------
Min Outlying Value:
step                   604.0
type                    None
amount             501719.38
nameOrig                None
oldbalanceOrg       268289.0
newbalanceOrig     360646.21
nameDest                None
oldbalanceDest    2357595.15
newbalanceDest     2779776.1
isFraud                  1.0
isFlaggedFraud           1.0
dtype: object

From the Output Above, we can see that we have a lot of Outlying Values to remove from almost every Column in the given Dataset.

In [24]:
data.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [25]:
print(data["amount"].quantile(0.5))
print(data["amount"].quantile(0.95))
print(data["amount"].quantile(0.75))

74871.94
518634.19649999996
208721.4775

In [26]:
def remove_outliers(column):
  average = data[column].quantile(0.5)  # Low Limit
  outlier = data[column].quantile(0.95) # High Limit
  replace = data[column].quantile(0.75)
  data[column] = np.where(data[column] > outlier, average, data[column])

In [27]:
remove_outliers("amount")
remove_outliers("oldbalanceOrg")
remove_outliers("newbalanceOrig")
remove_outliers("oldbalanceDest")
remove_outliers("newbalanceDest")

In [28]:
data.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.109503e+05,2.577469e+05,2.705969e+05,5.696983e+05,6.591352e+05,1.290820e-03,2.514687e-06
std,1.423320e+02,1.195418e+05,8.387705e+05,8.744398e+05,9.858265e+05,1.071810e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487187e+04,1.420800e+04,0.000000e+00,1.327056e+05,2.146613e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,1.768019e+05,6.949825e+04,7.645279e+04,6.771011e+05,8.236797e+05,0.000000e+00,0.000000e+00
max,7.430000e+02,5.186342e+05,5.823702e+06,5.980262e+06,5.147230e+06,5.515715e+06,1.000000e+00,1.000000e+00

From the Output Above, we can see that the <b>max</b> value has changed, which means that the Outliers have been removed.

---

### Removing Multi-Collinearity

In [29]:
data = data.drop(["nameOrig", "nameDest"],axis=1)

In [32]:
X = data[list(data.columns[3:7])]
vif_info = pd.DataFrame()
vif_info['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif_info['Column'] = X.columns
vif_info.sort_values('VIF', ascending=False)

         VIF          Column
1  20.259294  newbalanceOrig
0  20.195940   oldbalanceOrg
2   7.360381  oldbalanceDest
3   7.239394  newbalanceDest

From the Output Above, we can see that we have some Multi-Collinearity to remove from the Dataset.

In [33]:
data["balanceOrigDiff"] = data["newbalanceOrig"] - data["oldbalanceOrg"]
data["balanceDestDiff"] = data["newbalanceDest"] - data["oldbalanceDest"]
X = data.drop(["newbalanceOrig", "oldbalanceOrg", "newbalanceDest", "oldbalanceDest"], axis=1)
X.head()

,step,type,amount,isFraud,isFlaggedFraud,balanceOrigDiff,balanceDestDiff
0,1,PAYMENT,9839.64,0,0,-9839.64,0.0
1,1,PAYMENT,1864.28,0,0,-1864.28,0.0
2,1,TRANSFER,181.00,1,0,-181.00,0.0
3,1,CASH_OUT,181.00,1,0,-181.00,-21182.0
4,1,PAYMENT,11668.14,0,0,-11668.14,0.0

In [34]:
X = data[list(data.columns[-2:])]
vif_info = pd.DataFrame()
vif_info['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif_info['Column'] = X.columns
vif_info.sort_values('VIF', ascending=False)

        VIF           Column
1  1.005359  balanceDestDiff
0  1.005359  balanceOrigDiff

From the Output Above, we can see that the <b>VIF</b> value is below 5, which means that the Multi-Collinearity has been removed.